<h1>{{ title }}</h1>

<div class="container">
  <input
    id="searchbar"
    type="text"
    required
    placeholder="Search Text"
    (keyup)="searchChange($event)"
  />
</div>

<div *ngIf="movie$ | async as movie">
  <ng-container *ngIf="!movie.Error">
    <ul>
      <li>Title: {{ movie.Title }}</li>
      <li>Year: {{ movie.Year }}</li>
      <li>Rated: {{ movie.Rated }}</li>
    </ul>

    <p>{{ movie.Plot }}</p>
  </ng-container>
  <ng-container *ngIf="movie.Error">
    <p>Movie not found</p>
  </ng-container>
</div>
